<h1>Create a New Category</h1>

<%= form_for(@category, url: admin_categories_path) do |f| %>
  <p>
    <%= f.label :topic %>
    <%= f.text_field :topic %>
  </p>
  <p>
    <%= f.submit "Create Category" %>
  </p>

<% end %>

<br>
<%= link_to "See All Categories", admin_categories_path %>
